body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: 580px;
}

.avatar-section {
    background-image: linear-gradient(
        90deg,
        #9572fc 0%,
        #43e7ad 50%,
        #e2d45c 100%
    );

    margin: 32px 0;
    width: 128px;
    height: 128px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 120px;
    height: 120px;

    border-radius: 50%;
}

.cards-section {
    background-image: linear-gradient(
        90deg,
        #9572fc 0%,
        #43e7ad 50%,
        #e2d45c 100%
    );
    border-radius: 10px;
    padding-top: 4px;
    margin-bottom: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #2a2634;
    padding: 24px 32px 32px 32px;
    border-radius: 8px;
}

.cards {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    list-style: none;
}

.games-text {
    gap: 0px;
}

.text {
    font-family: "Inter", sans-serif;
    text-align: left;
}

.text h1 {
    font-size: 24px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: -0.4699999988079071px;
    color: #ffffff;
}

.text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.18000000715255737px;
    color: #a1a1aa;
}

.games img {
    width: 90px;
    height: 120px;
    border: 1px solid #443e54;
    box-sizing: border-box;
    border-radius: 8px;
}

.channels img {
    border-radius: 50%;
    border: 1px solid #443e54;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
}

.social img {
    width: 32px;
    height: 32px;
}

.clickable {
    transition: transform 0.25s ease-in-out;
}
.clickable:hover {
    transform: scale(1.3, 1.3);
}

/* ---------------ANIMATIONS--------------- */

@keyframes fromAbove {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromTheSide {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.avatar-section {
    animation: fromAbove 0.5s 0.3s backwards;
}

main section:nth-child(1) {
    animation: fromTheSide 0.5s 0.4s backwards;
}
main section:nth-child(2) {
    animation: fromTheSide 0.5s 0.6s backwards;
}
main section:nth-child(3) {
    animation: fromTheSide 0.5s 0.8s backwards;
}
